@charset "utf-8";
/* CSS Document */

/*OVERALL WEBSITE*/
/*Basic overall elements for the entire website*/
body, html {
	height: 100%;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'VT323', monospace;
}

img {
	position: absolute;
}

.textbox {
	display: flex;
	justify-content: right;
	position: absolute;
	padding-top: 200px;
	padding-left: 280px;
}

.textboxText {
	display: flex;
	padding-top: 290px;
	padding-left: 400px;
	justify-content: right;
	position: absolute;
	color: black;
	font-size: 22px;
	font-weight: bolder;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	max-width: 350px;
}

/*PAGE-SPECIFIC*/
/* Id tags and classes specific to certain pages */
#start {
	background-image: radial-gradient(circle, #ffffff, #575454, #000000);
}

#start img {
	height: 50px;
	width: 50px;
    top: 50%;
    left: 50%;
	position: absolute;
}

#desert {
	background-color: white;
	background: url("images/theDesert.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
}

#world {
	background-color: black;
	background: url("images/worldMap(worn).png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
}

#mountain {
	background-color: black;
	background: url("images/theMountain.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
}

/*FOUND ITEMS*/
/*Specific ids for discovered artifacts*/
#found1 {
	background-image: linear-gradient(to bottom right, black, purple, pink);
}

/*CHRACTERS, INTERACTIONS, AND OBJECTS*/
/* character and object specific classes and ids */
.centro1 {
	height: 100px;
	width: 200px;
	left: 1000px;
	top: 270px;
}

.centro1Head {
	height: 400px;
	width: 340px;
	top: 210px;
}

.centroAlert {
	padding-top: 200px;
	padding-right: 170px;
	display: flex;
	justify-content: right;
	font-size: 40px;
	color: maroon;
	font-weight: bold;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.brachio1 {
	height: 200px;
	width: 150px;
	left: 350px;
	top: 300px;
}

.brachioHead {
	height: 600px;
	width: 340px;
	top: 50px;
}

.brachio2 {
	height: 200px;
	width: 180px;
	left: 200px;
	top: 300px;
}

.brachio3 {
	height: 100px;
	width: 90px;
	left: 280px;
	top: 400px;
}

/*TRIANGLE GIF ASSET*/
/*Locations and Artifacts*/
.pinpoint {
	height: 30px;
	width: 30px;
}

.mark1 {
	height: 30px;
	width: 30px;
	left: 500px;
	top: 200px;
}

.mark1Item {
	height: 30px;
	width: 30px;
	left: 500px;
	top: 200px;
}

.mark2 {
	
}

.mark3 {
	
}