@charset "utf-8";
/* CSS Document */

/*OVERALL WEBSITE*/
/*Basic overall elements for the entire website*/
html {
	box-sizing: border-box;
}

body {
	font-family: 'VT323', monospace;
}

img {
	position: absolute;
}

.textbox {
	display: flex;
	justify-content: right;
	position: absolute;
	padding-top: 200px;
	padding-left: 280px;
}

.textboxText {
	display: flex;
	padding-top: 330px;
	padding-left: 400px;
	justify-content: right;
	position: absolute;
	color: black;
	font-size: 22px;
	font-weight: bolder;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	max-width: 300px;
}

/*PAGE-SPECIFIC*/
/* Id tags and classes specific to certain pages */
#start {
	background-image: radial-gradient(circle, #ffffff, #575454, #000000);
}

#start img {
	height: 50px;
	width: 50px;
    top: 50%;
    left: 50%;
	position: absolute;
}

#desert body, html {
	height: 100%;
}

#desert {
	background-color: white;
	background: url("images/theDesert.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
}

/*CHRACTERS, INTERACTIONS, AND EVENTS*/
/* character and object specific classes and ids */
.centro1 {
	height: 100px;
	width: 200px;
	left: 1000px;
	top: 270px;
}

.centro1Head {
	height: 400px;
	width: 340px;
	top: 210px;
}

.centroAlert {
	padding-top: 200px;
	padding-right: 170px;
	display: flex;
	justify-content: right;
	font-size: 40px;
	color: maroon;
	font-weight: bold;
}